@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'ArialRoundedMTBold';
  src: url('../fonts/ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ArialRoundedMTBold.woff') format('woff'), url('../fonts/ArialRoundedMTBold.ttf')  format('truetype'), url('../fonts/ArialRoundedMTBold.svg#ArialRoundedMTBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BanglaSangamMN';
  src: url('../fonts/BanglaSangamMN.eot?#iefix') format('embedded-opentype'),  url('../fonts/BanglaSangamMN.woff') format('woff'), url('../fonts/BanglaSangamMN.ttf')  format('truetype'), url('../fonts/BanglaSangamMN.svg#BanglaSangamMN') format('svg');
  font-weight: normal;
  font-style: normal;
}


@-webkit-keyframes uil-reload-css {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-reload-css {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-reload-css {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-reload-css {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-reload-css {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-reload-css {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-reload-css {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-reload-css {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-reload-css {
  position: relative;
  width: 200px;
  height: 200px;
}
.uil-reload-css > div {
  -ms-animation: uil-reload-css 1s linear infinite;
  -moz-animation: uil-reload-css 1s linear infinite;
  -webkit-animation: uil-reload-css 1s linear infinite;
  -o-animation: uil-reload-css 1s linear infinite;
  animation: uil-reload-css 1s linear infinite;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 160px;
  height: 160px;
  border-radius: 100px;
  border: 20px solid #5e469a;
  border-top: 20px solid rgba(0,0,0,0);
  border-right: 20px solid #5e469a;
  border-bottom: 20px solid #5e469a;
}
.uil-reload-css > div:after {
  content: " ";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 30px 30px 30px;
  border-color: transparent transparent #5e469a transparent;
  display: block;
  -ms-transform: translate(-15px, 0) rotate(45deg);
  -moz-transform: translate(-15px, 0) rotate(45deg);
  -webkit-transform: translate(-15px, 0) rotate(45deg);
  -o-transform: translate(-15px, 0) rotate(45deg);
  transform: translate(-15px, 0) rotate(45deg);
}


body{
	padding:0;
	margin:0;
}
*{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	 }
 ::-ms-expand{
	display:none;
 }
button, input[type="button"],
input[type="submit"]{
	cursor:pointer;
 }

.form-container {
    width: 214px;
	max-width:100%;
margin: auto;
    display: block;
	padding-left:0px;
}
.form-container h2 {
  font-family: 'ArialRoundedMTBold';
  font-size: 28px;
  color: #000000;
  letter-spacing: 1.1px;
  line-height: 36px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-family: 'BanglaSangamMN-Bold';
  font-size: 10px;
  color: #DDDDDD;
  letter-spacing: 1.82px;
  line-height: 15px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: 'BanglaSangamMN-Bold';
  font-size: 10px;
  color: #DDDDDD;
  letter-spacing: 1.82px;
  line-height: 15px;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: 'BanglaSangamMN-Bold';
  font-size: 10px;
  color: #DDDDDD;
  letter-spacing: 1.82px;
  line-height: 15px;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'BanglaSangamMN-Bold';
  font-size: 10px;
  color: #DDDDDD;
  letter-spacing: 1.82px;
  line-height: 15px;
}
select.form-input{
	background-color:transparent;
	background-image:url('../images/drop-down-arrow.png');
	background-repeat:no-repeat;
	background-position: 96% center;
	background-position: calc(100% - 10px) center;
	padding-right:14px;
 }
.form-container .form-input{
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	background-color:transparent;
	border-top:0 none;
	border-left:0 none;
	border-right:0 none;
	border-bottom:1px solid #e4e4e4;
  padding-bottom: 3px;
	display:block;
  width:100%;

  /* how big could it be?: */
  font-family: 'BanglaSangamMN-Bold';
  font-size: 10px;
  color: #7A7A7A;
  letter-spacing: 1.82px;
  line-height: 15px;
 }

.form-container select.form-input{
 width:100%;
 font-family: 'BanglaSangamMN-Bold';
 font-size: 10px;
 color: #dddddd;
 letter-spacing: 1.82px;
 line-height: 15px;
 }
 .form-container label{
	 font-weight:normal;
	 width:100%;
 }
.form-container label h4 {
    font-family: 'BanglaSangamMN-Bold';
    text-transform: uppercase;
    font-size: 14px;
    color: #000000;
    letter-spacing: 2.55px;
    margin-top: 25px;
    margin-bottom: 3px;
}
.form-container label {
  display: block;
  font-weight: normal;
  margin-bottom: 15px;
  padding-left: 45px;
  position: relative;
}
.form-container label img {
    position: absolute;
    left: 0;
    top: -6px;
    height: 34px;
}
a.menu_links { cursor: pointer; }
input.btn-form {
	background-color:transparent;
	background-image:url("../images/btn-img.png");
	background-repeat:no-repeat;
	background-position:center;
	-webkit-background-size:100%;
    border: 0 none;
    color: #ffffff;
	 font-family: 'ArialRoundedMTBold';
    font-size: 19px;
    width: 100%;
    height: 43px;
    max-width: 100%;
    letter-spacing: 1.7px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top:0px;
    padding-bottom:12px;
}
input.btn-form:hover{
 background-color:transparent;
 opacity:0.75;
}

#dragandrophandler{
	background-image:url('../images/bg.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	-webkit-background-size:cover;


 padding: 95px 20px 40px;
 position:relative;
vertical-align:middle;
margin-bottom:10px;
	margin-left:-15px;
	margin-right:-15px;
    text-align: center;
    text-transform: uppercase;

    /* ADD FILES: */
    font-family: 'BanglaSangamMN-Bold';
    font-size: 8px;
    color: #FFFFFF;
    letter-spacing: 1.35px;
    line-height: 15px;

}
#notificationopen{
	background-image:url('../images/wave.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	-webkit-background-size:cover;


 padding: 95px 20px 40px;
 position:relative;
vertical-align:middle;
margin-bottom:10px;
	margin-left:-15px;
	margin-right:-15px;
    text-align: center;
    text-transform: uppercase;

    /* ADD FILES: */
    font-family: 'BanglaSangamMN-Bold';
    font-size: 8px;
    color: #FFFFFF;
    letter-spacing: 1.35px;
    line-height: 15px;

}

.progressBar {
    width:100%;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display:inline-block;
    margin:0 0 5px;
    vertical-align:top;
}

.progressBar div {
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0ba1b5; border-radius: 3px;
}
.statusbar
{
    border-top:1px solid #A9CCD1;
    min-height:25px;
    width:100%;
    padding:10px 10px 0px 10px;
    vertical-align:top;
}
.statusbar:nth-child(odd){
    background:#EBEFF0;
}
.filename
{
display:inline-block;
vertical-align:top;
}
.filesize
{
display:inline-block;
vertical-align:top;
color:#30693D;
margin-left:10px;
margin-right:5px;
}
.abort{
    background-color:#A8352F;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;display:inline-block;
    color:#fff;
    font-family:arial;font-size:13px;font-weight:normal;
    padding:4px 15px;
    cursor:pointer;
    vertical-align:top
    }
div#dragandrophandler::before{
	background-image:url('../images/upload-sign.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:60px;
	content:'';
	position:absolute;
	left:0;
	top:0;
	height:135px;
	width:100%;

}
div#dragandrophandler::after {
    content: '';
    position: absolute;
    left: 50px;
    right: 50px;
    top: 30px;
    bottom: 30px;
    border: 2px dashed rgba(255,255,255,.50);
}
